.btn{
  @include link;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: $font-second;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: none;

  &--primary{
    background-color: $second-color;
    &:hover{
    background-color: #d34537;
    }
  }
  &--outline {
    border: 1px solid #fff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  &--secondary{
    border: 1px solid $primary-color;
    background-color: $primary-color;
    &:hover{
      background-color: #4a4c55;
    }
  }

  &--lg{
    padding: 22px 0;
    width: 226px;
  }

  &--medium{
    padding: 19px 0;
    width: 146px;
  }
}