.divider{
  position: relative;
  height: 8px;
  width: 8px;
  background-color: $second-color;
  margin: 0 auto 45px;
  border-radius: 50%;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 81px;
  }
  &::before{
    left: -94px;
    top: 3px;
  }
  &::after{
    left: 21px;
    top: 3px;
  }

  &--light {
    &::before, &::after {
      background-color: #F1EBE7;
    }
  }

  &--dark {
    &::before, &::after {
      background-color: $primary-color;
    }
  }

}