.text-field{
  width: 100%;
  border: none;
  border-bottom: 2px solid $primary-color;
  padding-bottom: 18px;
  margin-bottom: 29px;
  font-size: 14px;
  outline: none;

  &::placeholder{
    color: $primary-color;
  }
}

.textarea-field{
  width: 100%;
  border: none;
  border-bottom: 2px solid $primary-color;
  padding-bottom: 18px;
  margin-bottom: 29px;
  font-size: 14px;
  outline: none;
  max-height: 140px;
  font-family: $font-second;

  &::placeholder{
    color: $primary-color;
  }
}