.logo{
  @include link;
  border: 2px solid #F4F5F9;
  font-size: 42px;
  font-family: $font-second;
  color: #F1EBE7;
  text-transform: uppercase;
  padding-right: 10px;
  height: 53px;
  @include flex(center, center);

  &-first-letter{
    display: inline-block;
    color: #4A4C55;
    background-color: #F4F5F9;
    font-weight: bold;
    padding: 0 12px;
    height: 100%;
    @include flex(center, center);
    margin-right: 8px;
  }
}