.section{

  &-title{

    font-family: $font-primary;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 32px;

    &--light {
      color: #fff;
    }

    &--dark {
      color: #6A6A6A;
    }
  }

  &-description{
    font-family: $font-second;
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;

    &--dark{
      color: $primary-color;
    }

    &--light{
      color: #fff;
    }
  }
}
