.contact {
  &-us {
    padding-top: 150px;
    background-color: #F4F5F9;

    &-content {
      @include flex(space-between);
    }
  }

  &-col {
    background-color: #fff;
  }

  &-info {
    flex: 0 0 41%;
    padding: 100px 91px;

    &-block{
      margin-bottom: 70px;
    }

    &-title{
    color: $second-color;
    font-family: $font-primary;
    font-size: 24px;
    text-transform: uppercase;
      margin-bottom: 28px;
    }

    &-text{
    font-size: 18px;
      font-family: $font-primary;
      color: $primary-color;
      line-height: 1.5;
    }

    &-link{
      @include link;
      color: $primary-color;
    }
  }

  &-form {
    flex: 0 0 57%;
    padding: 100px 103px;
  }
}

