.footer{
  background-color: #202020;
  padding: 35px 0;

  &-content{
    @include flex(space-between);
  }

  &-icons{


  }

  &-icon{
    @include link;
    color: $primary-color;
    margin-right: 18px;
  }

  &-copyright{
    font-size: 14px;
    font-family: $font-second;
    color: $primary-color;
    opacity: 0.7;
  }
}