.header{
  background-image: url('../img/header-background.png');
  height: 100vh;
  padding-top: 92px;
  @include flex(center, center);
  z-index: 0;
  @include bg-img;
  position: relative;

  &::before, &::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: 0;
    z-index: 1;
  }

  &::before{
    border-width: 125px 0 0 50vw;
    border-color: transparent transparent transparent #ffffff;
    left: 0;
  }

  &::after{
    border-width: 0 0 125px 50vw ;
    border-color: transparent transparent #ffffff transparent ;
    right: 0;
  }

  &-subtitle{
    color: $third-color;
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    font-family: $font-primary;
    margin-bottom: 45px;
  }
  &-title{
    color: $third-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 72px;
    font-family: $font-second;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 44px;
  }

  &-slider{
    position: relative;
    width: 100%;

    &-item{
      max-width: 1170px;
      margin: 0 auto;
    }

    &-arrow{
      width: 46px;
      height: 46px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      border-radius: 5%;
      color: #303030;
      font-size: 20px;
      font-weight: 100;
      margin-bottom: 44px;
      position: absolute;
      top: 111px;

      &--left{
        left: 50px;
      }

      &--right{
        right: 50px;
      }

      &:hover{
        color: #fff;
        background-color:$second-color;
      }
    }
  }

  &-text{
    color: #CBC6C0;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    font-family: $font-second;
    width: 580px;
    margin: 0 auto 67px;
  }

  &-btn-group{
    text-align: center;

    .btn {
      margin-right: 29px;

      :last-child {
        margin-right: 0;
      }
    }
  }

  &-bottom-line{
    position: absolute;
    background-color: #d8d9db;
    width: 100%;
    height: 1px;
    bottom: 50px;
    z-index: 10;
  }

  &-anchor{
    font-size: 32px;
    @include link;
    @include flex(center, center);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #F4F5F9;
    color: $second-color;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
  }
}