.navbar{
  padding: 39px 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;

  &-row{
  @include flex(space-between, center)
  }

  &-nav{
  @include flex;

    &-item{
      margin-right: 42px;
    }

    &-link{
      @include link;
      text-transform: uppercase;
      color: #F4F5F9;
      font-size: 15px;
      font-family: $font-second;
      position: relative;

      &:hover{
        color: $second-color;

        &::after{
          content: '';
          background-color: $second-color;
          height: 2px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -10px;
        }
      }
    }

  }

}
