.our-blog{
  padding-top: 71px;

  .blog-posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.single-post{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  height: 25vw;

  &-img{
    @include bg-img;
  }

  &-content{
  background-color: $second-color;
    color: #fff;
    @include flex(center, center);
    padding: 0 2.5vw;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      left: -29px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 29px 35px 0;
      border-color: transparent $second-color transparent transparent;
      top: 50%;
      transform:translateY(-50%);
    }

    //@media(max-width: 1680px) {
    //  padding: 0 12%;
    //}
    //
    //@media(max-width: 1400px) {
    //  padding: 0 10%;
    //}
  }

  &:nth-child(4n) &-img, &:nth-child(4n-1) &-img {
    grid-column: 2;
  }

  &:nth-child(4n) &-content, &:nth-child(4n-1) &-content {
    grid-column: 1;
  }

  &:nth-child(4n) &-content::after, &:nth-child(4n-1) &-content::after{
    border-width: 35px 0 35px 29px;
    border-color: transparent transparent transparent $second-color;
    right: -29px;
    left: auto;
  }


  &-category{
  font-size: 14px;
    font-family: $font-second;
    margin-bottom: 1.5vw;
  }

  &-title{
  font-size: 24px;
    font-family: $font-primary;
    margin-bottom: 2.8vw;
    position: relative;
    text-transform: uppercase;

    &::after{
      content: "";
      background-color: #fff;
      position: absolute;
      width: 45px;
      height: 5px;
      left: 0;
      bottom: -19px;
    }
  }

  &-text{
    font-size: 16px;
    font-family: $font-second;
    margin-bottom: 2vw;
    line-height: 1.5;
    font-weight: 300;
  }

  &-read-more{
    @include link;
   font-size: 18px;
    color: #fff;
    font-family: $font-second;
    font-style: italic;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #fff;
      transition: 0.4s;
    }
  }
}