.our-stat{
  background-image: url('../img/our-stat-background.png');
  z-index: 0;
  @include bg-img;
  padding: 156px 0 143px;
  position: relative;

  .stat-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 100px;
  }
}

.stat{

  &-item{
    z-index: 1;
  }

  &-icon-container{
    width: 113px;
    height: 113px;
    border: 1px solid $third-color;
    border-radius: 50%;
    @include flex(center, center);
    margin: 0 auto 49px;
  }

  &-icon{
    color: $third-color;
  }

  &-number{
    color: $third-color;
    font-size: 20px;
    font-family: $font-primary;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-text{
    color: $third-color;
    font-size: 15px;
    font-family: $font-primary;
    text-align: center;
    text-transform: capitalize;
  }
}