.our-team{
  background-image: url('../img/our-team-bg.jpg');
  padding: 150px 0 300px;
  z-index: 0;
  @include bg-img;

  &-people{
  @include flex(space-between)
  }

  &-item{
    position: relative;
    text-align: center;

    &:nth-child(1) {
      top: 120px;
    }

    &:nth-child(2){
      top: 73px;
    }

    &:nth-child(3){
      top: 66px;
    }

    &:nth-child(4){
      top: 105px;
    }

    &:nth-child(5){
      top: 66px;
    }
  }

  &-person{
    width: 54px;
    height: 54px;
    @include bg-img;
    border-radius: 50%;
    border: 3px solid $second-color;
    display: inline-block;
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(231, 76, 60, 0.5);
      border-radius: 50%;
      opacity: 0;
    }

    &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 50px;
      background-color: #CCC8C8;
      bottom: -55px;
      opacity: 0;
    }

    &-name{
    font-size: 24px;
      font-family: $font-second;
      color: $second-color;
      margin-bottom: 19px;
    }

    &-position{
    font-size: 14px;
      color: #fff;
      font-family: $font-primary;
      transition: 0.4s;
    }

    &-info{
      opacity: 0;
      position: relative;
      top: 110px;

    }

    &:hover{
      transform: scale(1.4);
      transition: 0.4s;
      border-width: 5px;
      box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.6);

      &::before, &::after{
        opacity: 1;
      }
    }

    &:hover + &-info{
      opacity: 1;
    }
  }

}