.our-pricing{
  padding-top: 157px;

}

.pricing-plans{
  display: grid;
  grid-template-columns: repeat(3, 381px);
  grid-column-gap: 15px;
}

.pricing-plan{
  background-color: $third-color;
  text-align: center;
  padding-bottom: 51px;

  &-heading{
  background-color: $primary-color;
    padding-top: 59px;
    margin-bottom: 97px;

    &-circle{

    }
  }

  &-title{
  font-size: 24px;
    font-family: $font-second;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2px;
  }

  &-cost{
    border: 10px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 154px;
    height: 153px;
    position: relative;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    @include flex(center, center);
    background-color: #fff;

  }

  &-number{
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    font-family: $font-primary;
    color: $primary-color;
    font-weight: bold;

  }

  &-time{
    font-size: 20px;
    text-align: center;
    font-family: $font-primary;
    color: $primary-color;
  }

  &-options{
    padding-bottom: 47px;
  }

  &-option{
    font-size: 14px;
    font-family: $font-second;
    color: $primary-color;
    text-align: center;
    padding-top: 15px;
  }
}

.pricing-plan:hover{
  .pricing-plan-heading{background: $second-color};
  .pricing-plan-number{color:$second-color};
  .btn--secondary{background: $second-color};
}
