<div class="contact-us">
    <div class="container">
        @@include(('../components/section-heading.html', {
        title: "keep in touch",
        description: "Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. ",
        type: "dark"
        }))
        <div class="contact-us-content">
            <div class="contact-info contact-col">
                <div class="contact-info-block">
                    <h3 class="contact-info-title">our address</h3>
                    <p class="contact-info-text">House #13, Streat road,<br /> Sydney 2310 Australia</p>
                </div>
                <div class="contact-info-block">
                    <h3 class="contact-info-title">call us</h3>
                    <p class="contact-info-text"><a href="tel:+8801681091425" class="contact-info-link">+ 880 168 109 1425</a></p>
                    <p class="contact-info-text"><a href="tel:+0216809142" class="contact-info-link">+ 0216809142</a></p>
                </div>
                <div class="contact-info-block">
                    <h3 class="contact-info-title">email us</h3>
                    <p class="contact-info-text"><a href="mailto:contactus@email.com" class="contact-info-link">contactus@email.com</a></p>
                </div>
            </div>
            <div class="contact-form contact-col">
                <form action="">
                    <input required placeholder="Name" type="text" class="text-field">
                    <input required placeholder="Email" type="email" class="text-field">
                    <input required placeholder="Subject" type="text" class="text-field">
                    <textarea required placeholder="Message" name="" id="" cols="30" rows="10" class="textarea-field"></textarea>
                    <button type="submit" class="btn btn--primary btn--medium">send message</button>
                </form>
            </div>
        </div>
    </div>
</div>