<div class="footer">
    <div class="container footer-content">
        <div class="footer-icons">
            <a href="#" target="_blank" class="footer-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank" class="footer-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank" class="footer-icon"><i class="fas fa-rss"></i></a>
            <a href="#" target="_blank" class="footer-icon"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" target="_blank" class="footer-icon"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" target="_blank" class="footer-icon"><i class="fab fa-skype"></i></a>
            <a href="#" target="_blank" class="footer-icon"><i class="fab fa-vimeo-v"></i></a>
            <a href="#" target="_blank" class="footer-icon"><i class="fab fa-tumblr"></i></a>
        </div>
        <p class="footer-copyright">Kazi Erfan © All Rights Reserved </p>
    </div>
</div>