
<header class="header">
    <div class="mbr-overlay"></div>
    @@include('./navbar.html')

        <div class="header-slider">
            <button class="header-slider-arrow header-slider-arrow--left"><i class="fas fa-chevron-left"></i></button>
            <div class="header-slider-item">
                <h3 class="header-subtitle">our clients are our first priority</h3>
                <h1 class="header-title">welcome to bino</h1>
                @@include(('../components/divider.html', {
                type: "light"
                }))
                <p class="header-text">Lorem Ipsum is simply dummy text
                    of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <div class="header-btn-group">
                    @@loop('../components/button.html', [
                    { type: "primary", text: "get started now", size: "lg" },
                    { type: "outline", text: "learn more", size: "lg" },
                    ])
                </div>
            </div>
            <button class="header-slider-arrow header-slider-arrow--right"><i class="fas fa-chevron-right"></i></button>
        </div>
    <div class="header-bottom-line"></div>
    <a href="#" class="header-anchor"><i class="fas fa-anchor"></i></a>
</header>