<div class="navbar">
    <div class="container navbar-row">
        @@include('../components/logo.html')
        <ul class="navbar-nav">
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">home</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">about us</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">portfolio</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">pricing</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">team</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">blog</a></li>
            <li class="navbar-nav-item"><a href="#" class="navbar-nav-link">contact</a></li>
        </ul>
    </div>
</div>
