<div class="our-team">
    <div class="container">
        @@include(('../components/section-heading.html', {
        title: "our team",
        description: "Meet the craziest team. Share your thoughts with them.",
        type: "light"
        }))
        <ul class="our-team-people">
            <li class="our-team-item">
                <span class="our-team-person" style="background-image: url('../img/our-team/1.png')"></span>
                <div class="our-team-person-info">
                    <p class="our-team-person-name">Kazi Erfan</p>
                    <p class="our-team-person-position">UI/UX Designer</p>
                </div>
            </li>
            <li class="our-team-item">
                <span class="our-team-person" style="background-image: url('../img/our-team/2.png')"></span>
                <div class="our-team-person-info">
                    <p class="our-team-person-name">Kazi Erfan</p>
                    <p class="our-team-person-position">UI/UX Designer</p>
                </div>
            </li>
            <li class="our-team-item">
                <span class="our-team-person" style="background-image: url('../img/our-team/3.png')"></span>
                <div class="our-team-person-info">
                    <p class="our-team-person-name">Kazi Erfan</p>
                    <p class="our-team-person-position">UI/UX Designer</p>
                </div>
            </li>
            <li class="our-team-item">
                <span class="our-team-person" style="background-image: url('../img/our-team/4.png')"></span>
                <div class="our-team-person-info">
                    <p class="our-team-person-name">Kazi Erfan</p>
                    <p class="our-team-person-position">UI/UX Designer</p>
                </div>
            </li>
            <li class="our-team-item">
                <span class="our-team-person" style="background-image: url('../img/our-team/5.png')"></span>
                <div class="our-team-person-info">
                    <p class="our-team-person-name">Kazi Erfan</p>
                    <p class="our-team-person-position">UI/UX Designer</p>
                </div>
            </li>
        </ul>
    </div>
</div>