<section class="our-pricing">
    <div class="container">
        @@include(('../components/section-heading.html', {
        title: "our pricing",
        description: "A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.",
        type: "dark"
        }))
        <div class="pricing-plans">
            @@loop('./pricing-plan.html', [
            { title: "starter", number: "19" },
            { title: "premium", number: "39", active: true },
            { title: "business", number: "99" },
            ])
        </div>
    </div>
</section>