<section class="our-blog">
    <div class="container">
        @@include(('../components/section-heading.html', {
        title: "our blog",
        description: "Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.",
        type: "dark"
        }))
    </div>
    <div class="blog-posts">
        @@loop('./single-post.html', [
        { img: "../img/blog-posts/1.png", category: "art / t-shirt", title: "t-shirt design", text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.", link: "#"  },
        { img: "../img/blog-posts/2.png", category: "art / t-shirt", title: "t-shirt design", text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.", link: "#"  },
        { img: "../img/blog-posts/3.png", category: "art / t-shirt", title: "t-shirt design", text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.", link: "#"  },
        { img: "../img/blog-posts/4.png", category: "art / t-shirt", title: "t-shirt design", text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.", link: "#"  },
        ])
    </div>
</section>