<section class="our-stat">
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="stat-list">
            @@loop('./stat-element.html', [
            { number: "3891", text: "user favourites", src: "../img/our-stat/heart.png"},
            { number: "281K", text: "posts last 24 hours", src: "../img/our-stat/pencil.png"},
            { number: "618", text: "total posts", src: "../img/our-stat/like.png"},
            { number: "178", text: "campaigns", src: "../img/our-stat/star.png"},
            { number: "285", text: "amazing features", src: "../img/our-stat/flag.png" },
            ])
        </div>
    </div>
</section>