<div class="pricing-plan">
    <div class="pricing-plan-heading @@if (context.active === true) {active}">
        <h3 class="pricing-plan-title">@@title</h3>
        <div class="pricing-plan-cost">
            <div class="pricing-plan-circle">
                <p class="pricing-plan-number @@if (context.active === true) {active}">$@@number</p>
                <p class="pricing-plan-time">per month</p>
            </div>
        </div>
    </div>
    <div class="pricing-plan-options">
        <p class="pricing-plan-option">Competition Analysis Methods</p>
        <p class="pricing-plan-option">All Ranked URLs</p>
        <p class="pricing-plan-option">International Support System</p>
        <p class="pricing-plan-option">Social Media Tracking</p>
        </div>

        @@include('../components/button.html',
        { type: "secondary", text: "choose plan", size: "medium" },
        )
</div>