<div class="single-post">
    <div class="single-post-img" style="background-image: url(@@img)"></div>
    <div class="single-post-content">
        <div>
            <p class="single-post-category">@@category</p>
            <h3 class="single-post-title">@@title</h3>
            <p class="single-post-text">@@text</p>
            <a href="@@link" class="single-post-read-more">Read More</a></div>
        </div>
</div>