@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 1;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}