@mixin flex($main-axis: flex-start, $cross-axis: stretch) {
	display: flex;
	flex-wrap: wrap;

	@if $main-axis != flex-start {
		justify-content: $main-axis;
	}
	@if $cross-axis != stretch {
		align-items: $cross-axis;
	}
}

@mixin link {
	text-decoration: none;
	display: inline-block;
}

@mixin bg-img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

