$primary-color: #999999;
$second-color: #E74C3C;
$third-color: #F4F5F9;

$font-primary: 'Source Sans Pro', sans-serif;
$font-second: 'Open Sans', sans-serif;

$breakpoint-desctop: 1200px;
$breakpoint-tublet: 768px;
$breakpoint-phone: 480px;